.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/libraries/
.idea/modules.xml
*.iml
*.ipr
*.iws
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin
